<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--Setting Path-->
		<add key="logPath" value="C:\Users\techconsbiz\Documents\Yamaha\log\log.txt"/>
		<add key="EmployeeFile" value="C:\Users\techconsbiz\Documents\Yamaha\datacsv\MSTEmployee.csv"/>
		<!--Setting SMTP client> -->
		<add key="SMTPServer" value="smtp.office365.com"/>
		<add key="Email" value="aekarat@techconsbiz.com"/>
		<add key="EPassword" value="Wolf@tcb1"/>
		<add key="port" value="587"/>
		<!--Setting E-mail-->
		<add key="From" value="aekarat@techconsbiz.com"/>
		<add key="To" value="christopher@techconsbiz.com;aekarat@techconsbiz.com"/>
		<add key="Subject" value="Report Jobs SyncEmployee"/>
		<add key="Body" value="This is a Log Errorlist in Employee WebJobs"/>
		<!--Setting Account -->
		<add key="ContactCode" value="TCB"/>
		<add key="CreatedBy" value="System"/>
		<add key="ModifiedBy" value="System"/>
		<add key="Password" value="7b3a907f0ba0f5f2a1be645a102b5af4"/>  <!--Easyflow@2023-->
		<add key="GuidVerify" value="1281053b-fd05-4711-a1f0-46ca2b5c4d34"/>
	</appSettings>
	<connectionStrings>
		<!--UAT-->

		<!--<add name="WolfAproveCenter" connectionString="Data Source=sql-tcp-workflow-qa-sea-01.database.windows.net;initial catalog=WolfApprovecore.Center;user id=workflowadmin;password=lBCZayqr8yRNXlH"/>
		<add name="WolfAproveTCP" connectionString="Data Source=sql-tcp-workflow-qa-sea-01.database.windows.net;initial catalog=WolfApproveCore.tcp;user id=workflowadmin;password=lBCZayqr8yRNXlH"/>-->

		<!--PRD-->

		<!--<add name="WolfAproveCenter" connectionString="Data Source=sql-tcp-workflow-prod-sea-01.database.windows.net;Initial Catalog=Center;Persist Security Info=True;User ID=easyflowadmin;Password=3aekhKuaP6@6"/>
		<add name="WolfAproveTCP" connectionString="Data Source=sql-tcp-workflow-prod-sea-01.database.windows.net;initial catalog=tcp-easyflow;user id=easyflowadmin;password=3aekhKuaP6@6"/>-->
		
		
		<!--LocalDev-->

		<add name="WolfAproveCenter" connectionString="Data Source=DESKTOP-LUA4DPV\BUKGELEANSERVER;Initial Catalog=WolfApproveCore.Center;Persist Security Info=True;User ID=sa;Password=pass@word1"/>
		<add name="WolfAproveTCP" connectionString="Data Source=DESKTOP-LUA4DPV\BUKGELEANSERVER;initial catalog=WolfApprove.TCP;user id=sa;password=pass@word1"/>

	</connectionStrings>
</configuration>